<section class="block container">
  <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium,
    reiciendis!
  </p>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
        sit amet.iste hic ea, fugiat blanditiis a dolore eveniet sit sint.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
        sit amet.iste hic ea, fugiat blanditiis a dolore eveniet sit sint.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
        sit amet.iste hic ea, fugiat blanditiis a dolore eveniet sit sint.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" />
    </picture>
  </article>
</section>
