<footer class="block block--dark footer">
  <section class="container grid footer__grid">
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsibles_heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Wordpress Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly WebHosting</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsibles_heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Wordpress Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly WebHosting</a></li>
          <li><a href="#">Monthly WebHosting</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsibles_heading footer__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Wordpress Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly WebHosting</a></li>
          <li><a href="#">Migration</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly WebHosting</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsibles_heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Wordpress Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly WebHosting</a></li>
        </ul>
      </div>
    </div>
    <section class="footer__brand">
      <img class="logo" src="images/logo.svg" />
      <p class="footer__copyright">Copyright 2020 Rifat</p>
    </section>
  </section>
</footer>
